 @font-face {
   font-family: StMarie;
   src: url('r.ttf');
 }

 @font-face {
   font-family: vegur;
   src: url('icons/vegurl.otf');
 }

 body {
     background: none;
     color: #222;
     font-family: Helvetica, Verdana, DejaVuSans;
 }
 

 #all {
     width: 960px;
     margin: 40px auto;
 }

 #header {
     padding: 5px 0px 0px 0px;
     width: 960px;
     height: 100px;
     font-family: StMarie;
     font-size: 14px;
 }

 #header em{
     color: #999;
     font-family: Helvetica;
     font-size: 11px;
     clear:both;
     float: left;
     margin-top: -15px;
     margin-left: 66px;
 }

 #header h1 {
     display: inline;
     font-family: StMarie;
 }

 #header h1 a{
     padding-top: 10px;
     display: block;
     float: left;
     font-size: 35px;
     font-weight: normal;
     color: #000;
     text-decoration: none;
 }

 #header img{
     float: left;
     margin-top: -10px;
 }

 #header h1 a:hover, #header h1 a:active{
     color:  #5482c8;
 }


 #navbar {
     width: 960px;
     height: 35px;
     border-top: 1px solid #222;
     border-bottom: 1px solid #222;
     font-size: 16px;
     font-weight: normal;
     font-family: vegur, Helvetica;
 }

 #nav {
     margin: 0px;
     padding: 0px;
 }

 #nav li {
     float: left;
     list-style: none;
 }

 #nav li a, #nav li a:link, #nav li a:visited {
     border-right: 1px solid #222;
     padding: 10px 15px 8px 15px;
     color: #222;
     text-decoration: none;
     display: block;
     height: 17px;
 }

 #nav li a:hover, #nav li a:active {
     color: #144298;
     background: #f7f7f7;
     padding-bottom: 5px;
     border-bottom: 3px solid #5482c8;
 }

 #nav li img {
     float: left;
     padding-right: 5px;
     margin-top: -2px;
 }

 #nav li a.current {
     /* color: #144298;   */
     padding-bottom: 5px;
     background: #f7f7f7;
     /* border-bottom: 4px solid #043288; */
     border-bottom: 3px solid #222;
 }

 #nav li a.current:hover {
     background: #f5f5f5;
     border-bottom: 3px solid #043288;
 }
.ui-widget{
    font-size: 12px !important;
}

 h1 {
     font-weight: normal;
     font-size: 22px;
     font-family: Helvetica;
 }

 a {
     color: #144298;
 }

 #postcontent a:hover {
     color: #042278;
     text-shadow: 1px 1px #ddd;
 }

 #post-list {
     list-style: none;
}
ul.breadcrumbs{
    color: red;
    margin-left: 0;
}
 #content {
     font-size: 13px;
     line-height: 18px;
     width: 660px;
     margin: 20px;
     float: left;
 }

 #content h1{
     text-shadow: 1px 1px #ddd;
     margin-top: 20px;
 }

 #sidebar {
     font-size: 12px;
     width: 220px;
     padding: 20px;
     float: right;
     line-height: 18px;
 }

 #sidebar h1 {
     font-size: 18px;
     font-weight: normal;
     /* border-bottom: 1px solid #aaa; */
     padding: 3px 0px 5px 5px;
     margin: 0;
 }

 #sidebar h1 {
     text-decoration: none;
     font-family: vegur;
 }

 hr{
     color: white;
     margin-top: 30px;
     margin-bottom: 40px;
 }

 #sidebar ul, #sidelinks ul {
     width: 220px;
     font-size: 10px !important;
     font-family: Verdana;
     padding: 0;
     margin-top: 0px;
     border-top: 1px solid #aaa;
 }

#sidebar a:hover {
    background-color: transparent;
    color: #042278;
    text-shadow: #ddd 1px 1px;
}

 #sidebar li, #sidelinks li{
     font-size: 10px !important;
     min-height: 40px;
     list-style: none;
     background-color: #fafafa;
     border-bottom: 1px solid #aaa;
     padding: 5px;
     vertical-align: center;
 }

 #sidebar li img.icon, #sidelinks li img.icon {
     height: 30px;
     padding: 5px;
     padding-right:10px;
     float: left;
 }
 #sidebar li.even {
 }


 #sidebar p{
     padding: 7px;
 }

 #footer {
     clear: both;
     height: 30px;
     margin: 0px;
     padding: 0px;
     width: 960px;
     color: #aaa;
     border-top: 1px solid #aaa;
     font-size: 10px;
     text-align: center;
 }

 table{ 
     width: 100%;
     font-size: 11px;
 }

 tbody tr th {
     border: 1px solid #89a;
     background-color: #bce;
     padding: 5px;
 }

 thead tr th{
     border: 1px solid #89a;
     background-color: #bce;
     font-weight: bold;
     font-size: 12px;
     padding: 5px;
 }

 tr { 
     background-color: #f5f5f5;
     height: 18px;
     padding: 3px;
 }

 tr.even {
     background-color: #dde;
 }

 tr a:hover {
     color: #00256B;
     text-shadow: 1px 1px #ddd;
     background-color: transparent !important;
}
 td {
     padding: 3px;
     padding-left: 5px;
     border: 1px solid #9ab;
 }

 td img {
     height: 12px;
 }

 a#sketch img{
     background-color: #ddd;
     padding: 2px;
     border: 1px solid black;
     margin: 10px;
 }

 .ui {
     font-size: 10px;
 }

 input, textarea{
     display: block;
     resize: vertical;
     width: 640px;
     margin-top: 5px;
     margin-bottom: 5px;
     font-family: Helvetica;
     font-size: 12px;
 }

 button img {
     float: left;
 }

code, pre {
     font-size: 13px;
     font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

 #post-end{
     display: block;
     background-image: url('/homepage/public/icons/formbg.png');
     background-repeat: repeat-x;
     margin-top: 20px;
     margin-bottom: 50px;
     padding: 3px;
     padding-right: 10px;
     padding-left: 10px;
     border-top: 1px solid #aaa;
     font-size: 10px;
 }
 #scribble-end{
     display: block;
     height: 16px;
     background-image: url('/homepage/public/icons/formbg.png');
     background-repeat: repeat-x;
     color: #333;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 2px;
     border-top: 1px solid #aaa;     
     font-size: 9px;
 }

 #post-end .right{
     float: right;
 }

 #post-end a{
     color: #666;
     font-weight: bold;
     text-decoration: none;
     padding: 2px;
     padding-left: 15px;
     margin-left: 3px;
     background-position: left center;
 }
#post-end a.leave-comment {
     background-image: url('/homepage/public/icons/comment-small-light.png');
     background-repeat: no-repeat;
}
#post-end a.leave-comment:hover {
     background-image: url('/homepage/public/icons/comment-small.png');
}
 #post-end a:hover{
     color: #000;
 }

 #post-end img{
     padding-top: 3px;
     float: left;
     margin-left: 5px;
 }

 #radio label {
     margin-right: 10px;
 }

 #content li{
     /* list-style: none; */
 }

 #post-list li a{
     display: block;
     border: 1px solid #aaa;
     margin: 5px;
     text-decoration: none;
     padding: 5px;
     font-size: 12px;
     font-weight: bold;
     color: #777;
     width: 100%;
 }

 #post-list li a:hover{
     color: #222;
     border: 1px solid #222;
     background-color: transparent;
 }

 #post-list li a img {
     float: left;
     margin-right: 5px;
 }

 #notification {
     font-weight: bold;
     padding: 10px;
     margin: 10px;
     width: auto;
}

#postcontent {
    margin: 5px;
}

.hinted {
    color: #ddd;
}

input,textarea {
    display: inline;
    border: 1px solid #ddd;
    background-repeat: repeat-x;
    padding: 5px;
   -moz-box-shadow: inset 0 2px 8px rgba(0,0,0,.1);
   -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
   box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
}
input:hover, textarea:hover {
    border: 1px solid #aaa;
}
input:focus, textarea:focus {
    border: 1px solid #555;
    outline: 3px solid #D8E2F2;
}

#comment-box{
    margin: 10px;
    /* border: 1px solid #ddd; */
}
#comment {
    padding: 10px;
}
#comment-end {
    background-image: url('/homepage/public/icons/formbg.png');
    background-repeat: repeat-x;
    margin-top: 10px;
    text-align: right;
    font-size: 10px;
    border-top: 1px solid #aaa;
    padding: 3px;
}
#comment-box h2{
    padding: 5px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    border-bottom: 1px solid #ddd;
}

#project-box {
    border: 1px solid #aaa;
    padding: 30px;
    outline: 2px solid #eee;
    background-color: #fafafa;
}

#project-box h2{ 
    margin-top: 0px;
}

#project-content img {
    margin: 10px;
}

h1 a {
    text-decoration: none;
    color: #222;
}
h1 a:hover {
    color: #1867DE;
    background-color: transparent !important;
}

#small {
    padding-left: 1px;
    font-size: 9px;
    margin-top: -10px;
    color: #888;
}

ul.dropdown {
    position: absolute;
    float:none;
    padding-left: 0;
    margin-left: -1px;
    border-top: 1px solid #555;
}

ul.dropdown li{
    background-color: rgba(255,255,255,0.8);
    clear: both;
    display: block;
    width: 120px;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
}

a.drop {
    padding: 5px !important;
}

a.drop:hover{
    border-bottom: none !important;
    background-color: rgba(250,250,250,0.5) !important;
}

img.drop {
    float: right !important;
    padding-left: 10px;

}

#loginform input {
    display: inline;
    width: 100px !important;
}
#loginform dd {
    padding: 0;
    margin: 0;
}